node_modules
dist
dist-ssr
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
*.local
coverage
.vite
/public/private-assets/
/src/data/characters/characters.local.ts
